@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif; 
    background-color: #f7f7f7;
}

#headerContainer {
    position: relative;
    padding: 2.5rem;
    text-align: center; 
    background: rgb(0, 102, 102); 
    color: white;
    margin-top: -2%;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    border: 0;
    box-shadow: 0 0 30px rgba(0, 0, 0.05);
    filter: brightness();
} 

#logo {
    position: absolute; 
    border-radius: 0rem;
    width: 50px;
    left: 5rem;
    top: 1.9rem;
    background-color: rgb(0, 102, 102);

}  




